@import 'preset.css';

@media screen and (max-width: 800px){
	body{
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.Block-top{
		width: 100vw;
		padding: 1vh 0vw;
		background-color: var(--Invisible);
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 2;
		backdrop-filter: blur(2px);
	}
		.certerTop{
			width: 90vw;
			justify-content: space-between;
			align-items: center;
		}
			.FastAcess{
				display: none;
				height: 100vh;
				position: absolute;
				background-color: var(--corB);
				width: 90vw;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;
				margin-top: 90vh;
				margin-left: 5vw;
			}
				.FastAcess .topicOne{
					display: flex;
					width: 80vw;
					justify-content: center;
					margin-top: 9vh;
				}
			.logoTop{
				height: 8vh;
				width: 10vh;
				background-image: url('../../imgs/Logo2.png');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
			.MenuBar{
				background: var(--none);
				border: none;
				color: var(--corD);
				font-size: 4vh;
				z-index: 1;
			}
	.Block-One{
		height: 144vh;
		width: 100vw;
		flex-direction: column;
		background-color: var(--corE);
		background-image: url('../../imgs/map.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-blend-mode: multiply;
	}
		.BigBlockOne{
			height: 90vh;
			width: 100vw;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			background-color: rgba(0 0 0 / 10%);
			backdrop-filter: blur(3px);
		}
			.textOne{
				width: 83vw;
				height: 40vh;
				flex-direction: column;
				align-items: self-start;
				justify-content: space-around;
			}
				.topicOne{
					background-color: var(--Invisible);
					border: none;
					color: var(--corD);
					font-family: sans-serif;
					font-weight: bold;
					font-size: 3vh;
					padding: 1vh 0vw;
					text-align: center;
					border-bottom: 1vw solid var(--corD);
				}
			.text2One{
				display: none;
			}
		.shortBlockOne{
			width: 100vw;
			height: 54vh;
			align-items: self-start;
			justify-content: space-around;
			background-color: rgba(0 0 0 / 10%);
			backdrop-filter: blur(3px);
			flex-wrap: wrap;
		}
			.cardTextOne{
				height: 25vh;
				align-items: flex-start;
				justify-content: start;
				flex-direction: column;
				width: 34vw;
			}
				.iconShort0{
					background-color: var(--corC);
					color: var(--corB);
					padding: 1vh;
					font-size: 3vh;
					border-radius: 1vw;
				}
				.palagrafyOne{
					height: 20vh;
					width: 100%;
					color: var(--corD);
					font-size: 2vh;
					font-family: sans-serif;
					font-style: italic;
					word-wrap: break-word;
					text-align: left;
					font-weight: bold;
				}
	.LeftMenu{
		position: fixed;
		height: 100vh;
		width: 40vw;
		display: none;
		flex-direction: column;
		background-color: var(--corC);
		z-index: 3;
		border-right: 3px solid black;
		box-shadow: 48vw 0px 0px 12vw rgb(11 26 28 / 42%);
		align-items: center;
        display: none;
	}
		.exitLeftMenu{
			color: var(--corC);
			font-size: 5vh;
			position: absolute;
			margin: 3vh 0vw 0vh 47vw;
			background-color: var(--corB);
			border-radius: 50px;
            display: none;
		}
		.escCadorLogin{
			flex-direction: column;
			width: 30vw;
			margin-top: 5vh;
            display: none;
		}
			.btnsManagerLtMenu{
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
                display: none;
			}
				.btnLtMenu{
					border: none;
					width: 11vw;
					padding: 1vh;
					color: var(--corC);
					background-color: var(--corB);
					border-radius: 0.1vw;
					font-size: 5vh;
                    display: none;
				}
	.Block-Two{
		flex-direction: column;
		width: 88vw;
		padding: 5vh 0vw;
		height: 80vh;
		align-items: center;
		justify-content: center;
	}
		.meioBlock2{
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: start;
			height: 50%;
		}
			.textBlock2{
				height: 40%;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 100%;
				background-color: var(--corC);
			}
				.textBlock2 h2{
					font-size: 3vh;
					font-family: system-ui;
					color: var(--corB);
					width: 50%;
					text-align: center;
					font-weight: bold;
					font-style: italic;
				}
				.textBlock2 p{
					width: 40%;
					padding: 3% 5%;
					font-family: monospace;
					font-weight: bold;
					font-size: 2vh;
					color: var(--corD);
				}
			.imgReprBlock2{
				height: 60%;
				width: 100%;
			}
			.blockIconBlock2{
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 4vh;
				width: 50%;
				font-family: monospace;
				color: var(--corB);
				height: 100%;
			}
				.cor2-Block2{
					background-color: var(--corA);
					color: var(--corC);
				}
	.Block-Tre{
		background-image: url('../../imgs/bussyStation.png');
		padding: 5vh 0vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
		.cardMost-tre{
			flex-wrap: wrap;
			justify-content: center;
			width: 100vw;
		}
			.cardTre{
				background-color: rgb(11 96 206/ 90%);
				padding: 1vh;
				width: 38vw;
				height: 26vh;
				margin: 0vh 2vw 2vw 0vw;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}
				.cardTre i{
					background-color: var(--corC);
					padding: 1vh;
					color: var(--corB);
					font-size: 3vh;
					border-radius: 2vw;
					margin-bottom: 1vh;
				}
				.cardTextTre{
					word-wrap: break-word;
					font-size: 2vh;
					font-family: monospace;
					color: var(--corC);
					font-style: italic;
					flex-direction: column;
					width: 100%;
				}
					.cardTextTre label{
						font-weight: bold;
						font-size: 3vh;
						font-family: system-ui;
						font-style: normal;
                        display: none;
					}
	.textBlock4{
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: var(--corD);
	}	
		.BtnEntrarBlock4{
			background-color: var(--Invisible);
			margin-top: 2vh;
			padding: 1vw;
			width: 42vw;
			color: var(--corB);
			font-size: 2vh;
			font-weight: bold;
			font-family: monospace;
			border: none;
			border-bottom: 3px solid var(--corB);
			text-decoration: none;
			text-align: center;
		}
			.cssBlock4{
				color: var(--corC);
				border-bottom-color: var(--corC);
			}
		.cor2-Block4{
			width: 100%;
		}
	.Block-Five{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: auto;
		background-color: var(--corB);
		padding: 2vh 0vh;
	}
		.centerBlock5{
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 90vw;
			height: auto;
		}
			.TextBlock5{
				flex-direction: column;
				align-items: center;
				justify-content: start;
				color: var(--corC);
				font-size: 2vh;
				font-family: monospace;
				font-style: italic;
				width: 100%;
				height: 20vh;
			}
				.TextBlock5 h3{
					font-family: system-ui;
					font-weight: bold;
					font-size: 5vh;
					font-style: normal;
				}
				.TextBlock5 p{
					margin-top: 2vh;
					width: 80%;
					word-break: break-word;
					text-align: center;
				}
			.developerBlock5{
				width: 100%;
				height: auto;
				background-color: var(--corD);
				flex-wrap: wrap;
			}
				.membersUser{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 44vw;
					margin-top: 2vh;
					margin-left: 1vw;
				}
					.perfilBlock5{
						height: 9vh;
						border-radius: 50vw;
					}
					.lbBlock5{
						font-size: 2vh;
						color: var(--corC);
						font-weight: bold;
						font-family: monospace;
						text-align: center;
					}
}