
.ds-flexC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Return{
    font-size: 3vh;
    color: var(--corC);
    position: absolute;
    margin-left: -76vw;
    margin-top: 5vh;
    background-color: var(--corB);
    padding: 1vw 1vh;
    border-radius: 6vw;
}
.FormCard{
    background-color: var(--corB);
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    border-radius: 6px;
}
    .logoForm{
        width: 39vw;
        height: 8vh;
        border-radius: 1vh;
        margin-top: -4.5vh;
        background-color: var(--corB);
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../imgs/Logo2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inputs{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 27vh;
    }
        .inputs h3{
            color: var(--corA);
            font-size: 2vh;
            width: 56vw;
            font-weight: bold;
            font-family: 'FontBas';
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
            .inputs h3 pre{
                margin-right: 1.5vw;
            }
        .input{
            display: flex;
            flex-direction: column;
        }
            .inputError{
                color: red;
                font-size: 1.5vh;
                font-family: monospace;
                font-weight: bold;
            }
            .icon{
                color: var(--corD);
                font-size: 2vh;
            }
            .inputText{
                color: black;
                background-color: var(--corB);
                border: 2px solid var(--corC);
                border-radius: 5px;
                padding: 1vh;
                font-size: 1.7vh;
                font-weight: bold;
                font-family: monospace;
            }
                .inputText::-webkit-input-placeholder{
                    color: var(--corA);
                }
                .inputText:focus{
                    color: var(--corE);
                }
            
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    animation: 0.7s modal linear;
    height: 28vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 82vw;
    margin-top: 30vh;
    background-color: var(--corB);
    border-radius: 0.5vw;
    box-shadow: 0px 0px 0px 2px var(--corC);
}
    .TextModal{
        display: flex;
        color: var(--corE);
        font-family: 'FontBas';
        align-items: center;
        justify-content: space-around;
        height: 8vh;
        width: 70vw;
        font-size: 3vh;
        flex-direction: row;
    }
    .btnModal{
        display: flex;
        width: 34vw;
        height: 6vh;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--corC);
        border-radius: 1vw;
        background-color: var(--corD);
        color: var(--corE);
        font-weight: bold;
        font-family: 'FontBas';
        font-size: 3vh;
    }

@keyframes modal{
    0%{
        margin-top: -80vh;
    }
    100%{
        margin-top: 30vh;
    }
}

@keyframes modalSumir{
    0%{
        display: flex;
        opacity: 100%;
    }
    50%{
        display: flex;
        opacity: 50%;
    }
    100%{
        opacity: 0%;
        display: none;
    }
}