.RaibowBg-1{    
    background-color: rgb(62 193 184);
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}
.ds-flexC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Return{
    font-size: 3vh;
    color: var(--corC);
    position: absolute;
    margin-left: -76vw;
    margin-top: 5vh;
    background-color: var(--corB);
    padding: 1vw 1vh;
    border-radius: 6vw;
}
.FormCard{
    background-color: var(--corB);
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    border-radius: 6px;
}
    .logoForm{
        width: 39vw;
        height: 8vh;
        border-radius: 1vh;
        margin-top: -4.5vh;
        background-color: var(--corB);
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../imgs/Logo2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inputs{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 27vh;
    }
        .inputs p{
            color: var(--corA);
            font-size: 2vh;
            width: 55vw;
            font-weight: bold;
            font-family: 'FontBas';
        }
        .input{
            display: flex;
            flex-direction: column;
        }
            .inputError{
                color: red;
                font-size: 1.5vh;
                font-family: monospace;
                font-weight: bold;
            }
            .icon{
                color: var(--corD);
                font-size: 2vh;
            }
            .inputText{
                color: black;
                background-color: var(--corB);
                border: 2px solid var(--corC);
                border-radius: 5px;
                padding: 1vh;
                font-size: 1.7vh;
                font-weight: bold;
                font-family: monospace;
            }
                .inputText::-webkit-input-placeholder{
                    color: var(--corA);
                }
                .inputText:focus{
                    color: red;
                }