.RaibowBg-1{    
    background-color: rgb(62 193 184);
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}
.ds-flexC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FormCard{
    background-color: var(--corB);
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    border-radius: 6px;
}
    .logoForm{
        width: 19vw;
        height: 9vh;
        border: 1px solid var(--corC);
        border-radius: 10vh;
        margin-top: -4.5vh;
        background-color: var(--corB);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inputs{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 27vh;
    }
        .input{
            display: flex;
            flex-direction: column;
        }
            .icon{
                color: var(--corD);
                font-size: 2vh;
            }
            .inputText{
                color: black;
                background-color: var(--corB);
                border: 2px solid var(--corC);
                border-radius: 5px;
                padding: 1vh;
            }
                .inputText::-webkit-input-placeholder{
                    color: gray;
                }
                .input:focus{
                    color: red;
                }