@import 'preset.css';
@import 'Cell/login.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

@media screen and (min-width: 800px){
    * {
        box-sizing: border-box;
    }
    body {
        background: var(--corC);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
    }
    
    .container {
        background-color: var(--corD);
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 70vw;
        height: 80vh;
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        .form-container {
            height: 100%;
            transition: all 0.6s ease-in-out;
            width: 35vw;
        }
            form {
                background-color: var(--corD);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 5vw;
                height: 100%;
                text-align: center;
                color: var(--corB);
                width: 100%;
            }
                .scrool{
                    overflow-y: scroll;
                    width: 100%;
                    height: 36vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                    .scrool::-webkit-scrollbar-thumb{
                        display: flex;
                        border-radius: 0.5vw;
                        background-color: var(--corC);
                    }
                    .scrool::-webkit-scrollbar {
                        width: 0.5vw;
                    }
                h1 {
                    font-weight: bold;
                    margin: 0;
                    font-size: 4vh;
                }
        
                h2 {
                    text-align: center;
                }
        
                p {
                    font-size: 2vh;
                    font-weight: 100;
                    line-height: 3vh;
                    letter-spacing: 0.5px;
                    margin: 2vh 0 2vw;
                }
        
                span {
                    font-size: 2vh;
                }
        
                a {
                    color: var(--corA);
                    font-size: 1.6vh;
                    text-decoration: none;
                    margin: 15px 0;
                }
                    a:hover{
                        cursor: pointer;
                        border-bottom: 1px solid var(--corA);
                    }
        
                button {
                    border-radius: 20px;
                    border: none;
                    background-color: var(--corB);
                    color: var(--corD);
                    font-size: 2vh;
                    font-weight: bold;
                    padding: 2vh 1vw;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    transition: transform 80ms ease-in;
                    width: 15vw;
                }
                    button:hover{
                        border: 2px solid var(--corC);
                        cursor: pointer;
                    }
                    
                    button:active {
                        transform: scale(0.95);
                        cursor: grabbing;
                    }
        
                    button:focus {
                        outline: none;
                    }
                .btnFile{
                    border-radius: 20px;
                    border: none;
                    background-color: var(--corB);
                    color: var(--corD);
                    font-size: 2vh;
                    font-weight: bold;
                    padding: 1vh 2vw;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    transition: transform 80ms ease-in;
                    width: 15vw;
                    margin-bottom: 2vh;
                }
                    .btnFile:hover{
                        border: 2px solid var(--corC);
                        cursor: pointer;
                    }
                    
                    .btnFile:active {
                        transform: scale(0.95);
                        cursor: grabbing;
                    }
        
                    .btnFile:focus {
                        outline: none;
                    }
                input {
                    background-color: var(--corB);
                    border: none;
                    padding: 12px 15px;
                    margin: 8px 0;
                    width: 100%;
                    border-radius: 0.5vw;
                    font-weight: bold;
                    color: var(--corC);
                    font-size: 1.6vh;
                }
                    input:focus {
                        background-color: var(--corA);
                        color: var(--corD);
                    }
                    input::-webkit-input-placeholder{
                        color: var(--corD);
                    }
                .social-container {
                    margin: 2vh 0;
                }
                    .social-container .logRed {
                        border: 2px solid var(--corB);
                        border-radius: 50%;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 5px;
                        height: 3vw;
                        width: 3vw;
                        color: var(--corB);
                        font-size: 4vh;
                    }
                        .social-container .logRed:hover{
                            border: 3px solid var(--corB);
                            background-color: var(--corC);
                            cursor: pointer;
                        }
        .overlay-container {
            position: absolute;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var(--Invisible);
            left: 50%;
        }
            .overlay {
                background: -webkit-linear-gradient(to right, var(--corB), var(--corB));
                background: linear-gradient(to right, var(--corA), var(--corB));
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0 0;
                color: var(--corD);
                position: relative;
                height: 100%;
                width: 200%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                left: -100%;
            }
            .overlay-panel {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 40px;
                text-align: center;
                height: 100%;
                width: 50%;
            }
                .container.right-panel-active .overlay-container{
                    left: 0%;
                }
                    .container.right-panel-active .overlay{
                        left: 0%;
                    }
                button.ghost {
                    background-color: var(--corD);
                    border-color: var(--corB);
                    color: var(--corC);
                    border: none;
                }
                    button.ghost:hover{
                        border: 2px solid var(--corB);
                        cursor: pointer;
                    }
            
        @keyframes scroll{
            0%{
                left: 50%;
            }
            100%{
                left: 0%;
            }
        }
        @keyframes scrollA{
            0%{
                left: -100%;
            }
            100%{
                left: 0%;
            }
        }
}